
<p [ngStyle]="{'display': btnScoreDisplay}">Well Done! You scored {{ score }} points!</p>
<br>
<button (click)="doCountdown(); startGame()" [ngStyle]="{'display': startBtn}"> {{ startBtnMessage }}</button>
<br>
<div [ngStyle]="{'display': gameDiv}">


    <input type="text" disabled="disabled" id="timeBar" [value]="seconds">


    <div id="background" [ngStyle]="{'background-image': 'url(' + backUrl + ')'}">

        <button (click)="addScore()" id="btnRobo" [ngStyle]="{'left.%': leftNum, 'top.%': topNum }"><img src="{{ activeSprite }}" height = "10px"></button>


        <button (click)="decreaseScore()" id="btnOtherSprite"
            [ngStyle]="{'left.%': spriteLeftNum, 'top.%': spriteTopNum }">s</button>

    </div>
    <input type="text" disabled="disabled" id="score" [value]="'Your Score: ' + score">

    <button id="btnReset" (click)="startGame()" [ngStyle]="{'display': btnResetDisplay}">Reset</button>
    <!-- style="display: none;" -->


    <h3>Find Robo-Cat!</h3>
    <!-- might need to make it clearer that clicking on elephant or pig loses points -->

</div>

<!-- <p>Navigation Icons</p> -->


<script src="game.ts" async defer></script>

<br>
<a [routerLink]="['../login']">Back to login</a>
<br>
<a [routerLink]="['../devices']">Go to devices</a>



